#ContactLinks__container {
    text-align: center;
    float: left;

    width: 37%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#ContactLinks__container > h3 {
    font-family: Acme;
    color: #e8e8e8;
    font-size: 3vw;
}

#ContactLinks__container > hr {
    border: 0px solid grey;
    opacity: 1;
    width: 45%;

    margin: 0 auto;
    margin-bottom: 5vw;
}

#ContactLinks__container > div {
    margin-top: 3vw;
}

#ContactLinks__container > div > h5 {
    font-family: Acme;
    color: #e8e8e8;
    font-size: 2.4vw;
    margin-bottom: 0;
}

#ContactLinks__container > div > a {
    font-family: 'Klee One';
    color: #e8e8e8;
    font-size: 1.5vw;
}

@media screen and (max-width: 954px) {
  #ContactLinks__container {
    float: none;
    margin: 0 auto;
    width: 50%;
  }
  #ContactLinks__container > h3 {
    font-size: 6vw;
  }
  #ContactLinks__container > div > h5 {
    font-size: 3.5vw;
    margin-top: 20px;
  }
  #ContactLinks__container > div > a {
    font-size: 2.5vw;
  }
}