#NavArrow_left {
  float: left;
}

#NavArrow_right {
  float: right;
}

#NavArrow__container {
  z-index: 100;

  position: absolute;
  top: 150vh;
  left: 50%;
  transform: translate(-50%,-90%);

  width: 98vw;
  max-width: 1248px;
  background: rgba(0, 0, 0, 0)
}
