#Envelope__container > svg {
  width: 130vw;
  max-width: 575px;
  height: auto;
}

#Envelope__container {
  float: right;

  position: relative;
  top: 50%; right: 2vw;
  transform: translateY(-50%);
  z-index: 100;
}

@media screen and (max-width: 954px) {
  #Envelope__container {
    visibility: hidden;
    /* position: relative;
    left: -50%;
    top: -40px;
    top: -7.5vh;
    transform: translateX(50%); */
  }
}

/* @media screen and (min-width: 480px) {
  #ContactForm__form {
    visibility: hidden;
  }
} */