#YearHolder__container {
  width: 30.46875vw;
  height: 30.46875vw;

  position: relative;
  top: 50%; left: 2.5%;
  transform: translateY(-50%);
}

#YearHolder__container div {
  border-radius: 50%;

  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  background-color: #1f1f1f;
  box-shadow: 0px 0px 47px 0px black;
}

#YearHolder__container > div {
  width: 30.46875vw;
  height: 30.46875vw;
}

#YearHolder__container > div > div {
  width: 25.2604vw;
  height: 25.2604vw;
}

#YearHolder__container > div > div > div {
  width: 20.0520vw;
  height: 20.0520vw;
}

#YearHolder__container > div > div > div > div {
  border-radius: 0;
  box-shadow: none;

  width: 18vw;

  display: flex;
  flex-direction: column;
}

#year_text {
  font-size: 20px;
  font-family: Acme;
  color: white;

  letter-spacing: 4px;
}

#year_no {
  font-size: 50px;
  font-family: KleeRegular;
  color: white;
  line-height: 4vw;
}

#YearHolder__container hr {
  width: 25%;
  display: inline;

  height: 0.5px;
  margin-top: 17px;

  border: 1px solid #aaa;
}
#year_decoration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;

  color: #aaa;
}
