#IconContainer__container {
  width: auto;
  background: reds;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#IconContainer__container * {
  width: 35px;
  height: 35px;
  margin: 10px;
}
