#ProjectCards__container {
  width: 45vw;
  height: 510px;

  margin: 8% auto;

}

.ProjectCards__card {
  width: 458px;
  height: 500px;

  background: linear-gradient(120deg, #4e4c4c 15%, #161616);
  border-radius: 7px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.56);

}
.stacked-cards {
    position: relative;
}
.stacked-cards ul {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
    padding-left: 0;
}

.stacked-cards li {
    margin-top: 5px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.56);
    list-style: none;
    width: 65%;
    position: absolute;
    left: 50%;
    transition: 0.5s ease transform;
}

.stacked-cards li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.stacked-cards li.active:after {
    display: none;
}
.stacked-cards li img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 4;
}
.stacked-cards li.active {
    cursor: default;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.56);
    transition: 0.5s ease transform;
}
