#YearInfoHolder__container {
  width: 45%;
  float: right;

  text-align: justify;
  font-family: KleeBold;
}

#YearInfoHolder__container > h4 {
  font-size: 40px;
  margin: 3.5vw 1vw;
  margin-bottom: 15%;
}

#YearInfoHolder__container p {
  font-size: 18px;
  color: #aaa;

  padding-right: 4vw;
  padding-left: 1vw;
}
